$primary: #000;
$secondary: #d1a000;


.contact {

  background-image: url("https: //media.istockphoto.com/videos/black-food-background-concept-for-design-menu-restaurant-or-cafe-copy-video-id1201294000?s=640x640");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  opacity: 0.6;
}
.contact {
  color: #d1a000;
}

td{
  padding: 25px;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  padding: 15px;
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: rgb(34, 30, 30);
}
.heading {
  // margin: 4rem 0;
 
  font-size: 6vw;
  color: $secondary;
  margin: 0.5vw;
}



.subheading {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
    color: $secondary;

  
    
}
.subtitle {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5vw;
    color: $secondary;
 
    margin: 0.5vw;
  }
  .address {
    text-align: center;
      font-size: 1.6vw;
      color: $secondary;

      margin-top: 12px;
     }

.left{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.image {
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.animatedButton {
  display: flex;
  text-transform: none !important;
  font-size: 16px !important;
}

.animatedButton:hover {
  background-color: $primary !important;
  color: $secondary;
  text-decoration: none;
}

.seperateListItems {
margin-right: 10px
}
@media (max-width: 600px) {
  .heading {
    text-align: center;
 
    color: $secondary;
    font-size: 5vw;
  }
  .subheading {
    font-size: 4.6vw;
    font-style: oblique;
  }
   .subtitle {
    font-size: 3.6vw;
      word-break: break-word;
   }
       
}
